<%= form_with(model: building, local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :building_name %>
  </div>

  Addresses:
    <ul>
      <%= form.fields_for :addresses do |address_form| %>
        <li>
          <%= address_form.label :route %>
          <%= address_form.text_field :route %>
 
          <%= address_form.label :street_number %>
          <%= address_form.text_field :street_number %>
		  
          <%= address_form.label :locality %>
          <%= address_form.text_field :locality %>
		  
          <%= address_form.label :postal_code %>
          <%= address_form.text_field :postal_code %>
		  
          <%= address_form.label :province %>
          <%= address_form.text_field :province %>
		  
          <%= address_form.label :region %>
          <%= address_form.text_field :region %>
		  
          <%= address_form.label :country %>
          <%= address_form.text_field :country %>
		  
        </li>
      <% end %>
    </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
