<%= form_with(model: building, local: true) do |form| %>
  <% if building.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(building.errors.count, "error") %> prohibited this building from being saved:</h2>

      <ul>
      <% building.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :building_name %>
  </div>

  <div class="field">
    <%= form.label :route %>
    <%= form.text_field :route, id: :building_route %>
  </div>

  <div class="field">
    <%= form.label :street_number %>
    <%= form.text_field :street_number, id: :building_street_number %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, id: :building_postal_code %>
  </div>

  <div class="field">
    <%= form.label :hamlet %>
    <%= form.text_field :hamlet, id: :building_hamlet %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :building_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :building_longitude %>
  </div>

  <div class="field">
    <%= form.label :locality_id %>
    <%= form.text_field :locality_id, id: :building_locality_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
